/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.saf-wrapper {
    width: 100%;
    max-width: 100% !important;
}
.saf-fields-container {
    display: flex;
    width: 100%;
}
.saf-fields-container .saf-field-group {
    width: 15.6%;
    padding: 5px 0px 8px;
}
.saf-date .ui-datepicker-inline.ui-datepicker {
    display: none !important;
}
.saf-error .select2-selection {
    border-color: #ff4d4f;
}
.saf-error > input {
    border-color: #ff4d4f;
}
.saf-notification-notice-with-icon {
    box-sizing: border-box;
    padding: 0;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: "tnum","tnum";
    font-feature-settings: "tnum","tnum";
    position: fixed;
    right: 0px;
    top: 50vh;
    z-index: 1010;
    margin: 0 24px 0 0;
}
.saf-notification-notice-with-icon {
    width: 384px;
    max-width: calc(100vw - 48px);
    margin-bottom: 16px;
    margin-left: auto;
    padding: 16px 24px;
    overflow: hidden;
    line-height: 1.5715;
    word-wrap: break-word;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
}

.saficon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: safialiased;
    -moz-osx-font-smoothing: grayscale;
}
.saf-notification-notice-icon {
    position: absolute;
    margin-left: 4px;
    font-size: 24px;
    line-height: 24px;
}
.saficon.saf-notification-notice-icon-error {
    color: #ff4d4f;
}
.saf-notification-notice-with-icon .saf-notification-notice-message {
    margin-bottom: 4px;
    margin-left: 48px;
    font-size: 16px;
}
.saf-notification-notice-with-icon .saf-notification-notice-description {
    margin-left: 48px;
    font-size: 14px;
}

.saf-fields-container {
    width: 100%;
    padding: 15px 16px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 14px;
    background: #fff;
    flex-wrap: wrap;
    justify-content: center;
}
.saf-field-group {
    padding: 0;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    border: 2px solid #dbdfea;
    border-radius: 14px;
    margin: 8px 5px;
}

.saf-select span.select2-selection {
    border: none !important;
    font-size: 16px;
    font-family: inherit;
}
.saf-fields-container label {
    font-size: 15px!important;
    font-weight: 700!important;
    padding-left: 15px;
    padding-top: 8px;
    color: #000!important;
    max-width: 100%;
    text-transform: uppercase;
}
.saf-field-group span.select2-selection__placeholder {
    font-size: 18px;
}
.saf-field-group .select2-results li {
    font-size: 16px;
}
.saf-field-group .select2-selection__rendered {
    font-size: 18px;
    padding-left: 15px !important;
}
.saf-field-group input {
    border: none !important;
    padding: 5px 8px !important;
}
.saf-field-group input:focus-visible {
    outline: none !important;
}
.saf-boosts-select .select2-selection--multiple {
    border: none !important;
    min-height: 5px !important;
    padding-left: 10px;
    padding-right: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 10px;
}
.saf-wrapper .saf-submit-btn-row {
    text-align: center;
}
.saf-wrapper button.saf-submit-btn {
    line-height: 1.5715;
    position: relative;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    padding: 12px 15px;
    font-size: 22px;
    border-color: #486baf;
    background: #486baf;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    max-width: 360px;
    border-radius: 60px;
    place-items: center;
    color: white;
    margin: 20px;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.saf-wrapper button.saf-submit-btn:hover {
    border-color: #6c89bd;
    background: #6c89bd;
    text-decoration: none;
}
.select2-container--open .select2-dropdown--below {
    top: 10px;
    /* width: 220px !important; */
    border-radius: 14px;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    border: none;
    /* left: -12px; */
}
.select2-container--open .select2-dropdown--above {
    top: -12px;
   /*  width: 192px !important; */
    border-radius: 14px;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    border: none;
}
.select2-results li.select2-results__option {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}
.notfound-msg {
    display: flex;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    border-radius: 14px;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}
.ant-empty-img-default-ellipse {
    fill: #f5f5f5;
    fill-opacity: .8;
}
.ant-empty-img-default-path-1 {
    fill: #aeb8c2;
}
.ant-empty-img-default-path-2 {
    fill: url(#linearGradient-1);
}
.ant-empty-img-default-path-3 {
    fill: #f5f5f7;
}
.ant-empty-img-default-path-4, .ant-empty-img-default-path-5 {
    fill: #dce0e6;
}
.ant-empty-img-default-g {
    fill: #fff;
}
.select2-container--default .select2-results__option--selected {
    background-color: #fff;
    font-weight: 700;
}
.saf-field-group ul.select2-selection__rendered {
    padding: 0 !important;
    margin: 0;
}
li.select2-selection__choice {
    padding: 0px !important;
    margin: 0;
    background: transparent !important;
    border: none !important;
    font-size: 14px;
}

li.select2-selection__choice > button.select2-selection__choice__remove {
    display: none;
}
@media screen and ( max-width: 991.98px ){
    .saf-fields-container .saf-field-group {
        width: 30%;
    }
}
@media screen and ( max-width: 767.98px ){
    .saf-fields-container .saf-field-group {
        width: 47%;
    }
}
@media screen and ( max-width: 490.98px ){
    .saf-fields-container .saf-field-group {
        width: 90%;
    }
}